html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------- BEGIN GOOGLE FONTS -----------------------------------------*/
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

/*----------------------- END OF GOOGLE FONTS -----------------------------------------*/

:root {
    --header-height: 3.5rem;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*----------------------- BASE -----------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {    
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------------------- REUSABLE STYLE -----------------------------------------*/
.container {
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 3rem 1rem;
}

.section__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.main {
    overflow: hidden;
}

/*----------------------- HEADER & NAV -----------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.nav {
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: black;
}
.nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.nav__link {
    transition: color .4s;
}

.nav__link:hover {
    color: pink;
}

.signature__img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: -20px;
}


/*----------------------- HOME PAGE -----------------------------------------*/
.home__container{
    padding-top: 2.5rem;
    row-gap: 2rem;
}

.self__img {
    width: 270px;
    justify-self: center;
}

.home__second__title,
.home__title,
.home__content{
    justify-self: center;
}

.home__title{
    font-size:x-large;
}
.home__second__title{
    margin-top: -1rem;
    font-size: large;
}

.home__content {
    margin-bottom: -1rem;
}

.contact__social{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: .75rem;
}

.contact__social i {
    font-size: 2rem;
}

.ri-mail-fill {
    color: #f2a60c;
}

.ri-linkedin-box-fill{
    color: #0077b5;
}


/*----------------------- ABOUT PAGE -----------------------------------------*/
.about__container{
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}
.about__main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-right: 2rem;

}
.about__title{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.about__content {
    line-height: 1.1;
    margin-bottom: 1rem;
}
.about__img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.about__page__img{
    display: block;
    height: auto;
   height: 20rem;
    width: 20rem;
}


/*----------------------- SKILLS PAGE -----------------------------------------*/
.skills {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);


}

.inner{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

#number {
    font-weight: 600;
    color: #555;
    font-size: 30px;

}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100%{
        stroke-dashoffset: 157.5;
    }
}
svg{
    position: absolute;
    top: 0;
    left: 0;

}